.description-text {
    color: #FF7710;
}
.introduce{
    color: #264de4;
    font-family:"Press Start 2P", cursive;
    font-weight: 400;
    line-height: 10%;
}
.list-tag{
    background-color: aquamarine;
    padding: 10px;
    margin-top: 40px;

}